.jumbotron h1{
  color: rgb(255, 255, 255);
   
 }
.jumbotron{
 background-color: black;
}
.jumbotron p{
 color:rgb(128, 128, 128);
 
}
  
  .fade-in-text {
    font-family: Arial;
    font-size: 60px;
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
  }
  .fade-in-text2 {
    font-family: Arial;
    font-size: 60px;
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 6s;
    -moz-animation: fadeIn 6s;
    -o-animation: fadeIn 6s;
    -ms-animation: fadeIn 6s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .conform h1{
    margin-top: 10px;
    margin-left: 80px;
  }
  .conform form{
      margin-top: 10px;
      margin-left: 80px;
   
  }
  .col img{
    max-width: 70%;
    transition: transform .2s;
    
  }
  .col img:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .head h1{
    text-align: center;
    margin-top: 70px;
  }
  .about h1{
    margin-left: 100px;
    margin-top: 60px;
    color: #535353; 
    font-size:45px;
    font-weight:600;
  }
  .about p{
    margin-left: 100px;
    font-size: 16px;
    line-height: 27px; 
    margin-right: 60px;
  }